### Жеглов Глеб 19-ИВТ-2
### Вариант 2
#### 1. Подсчитайте количество отменённых рейсов.
#### 2. Определите аэропорт, рейсы для которого отменяются наиболее часто.
#### 3. Определите коэффициент корреляции Пирсона и Спирмена между отменой рейса и днём недели, месяцем, авиакомпанией, аэропортом. Оцените значение p-value. Постройте плотность распределения признаков.
#### 4. Подсчитайте для трёх выбранных авиакомпаний: количество рейсов, количество отменённых рейсов, количество перенаправленных рейсов.
#### 5. Определите скорость полёта для каждого рейса, скорость полёта среднюю для трёх выбранных авиакомпаний.
#### 6. Визуализируйте тепловую карту частоты отмены рейсов. По одной оси – дни, по другой оси – рейс (для двух аэропортов).
#### 7. Посчитайте и визуализируйте время задержки отправки и прибытия по трём аэропортам.
#### 8. Определите для трёх выбранных аэропортов и визуализируйте задержки по каждой причине.
#### 9. Определите авиакомпанию с максимальными задержками рейсов по отправке и прибытию.

In [2]:
import pandas as pd
flights_df = pd.read_csv('flights.csv')

D:\WinPython\WPy64-3870\python-3.8.7.amd64\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
print(flights_df)

         YEAR  MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER TAIL_NUMBER  \
0        2015      1    1            4      AS             98      N407AS
1        2015      1    1            4      AA           2336      N3KUAA
2        2015      1    1            4      US            840      N171US
3        2015      1    1            4      AA            258      N3HYAA
4        2015      1    1            4      AS            135      N527AS
...       ...    ...  ...          ...     ...            ...         ...
5819074  2015     12   31            4      B6            688      N657JB
5819075  2015     12   31            4      B6            745      N828JB
5819076  2015     12   31            4      B6           1503      N913JB
5819077  2015     12   31            4      B6            333      N527JB
5819078  2015     12   31            4      B6            839      N534JB

        ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  ...  \
0                  ANC                 SEA                    5  ...
1                  LAX                 PBI                   10  ...
2                  SFO                 CLT                   20  ...
3                  LAX                 MIA                   20  ...
4                  SEA                 ANC                   25  ...
...                ...                 ...                  ...  ...
5819074            LAX                 BOS                 2359  ...
5819075            JFK                 PSE                 2359  ...
5819076            JFK                 SJU                 2359  ...
5819077            MCO                 SJU                 2359  ...
5819078            JFK                 BQN                 2359  ...

         ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  \
0               408.0          -22.0         0          0
1               741.0           -9.0         0          0
2               811.0            5.0         0          0
3               756.0           -9.0         0          0
4               259.0          -21.0         0          0
...               ...            ...       ...        ...
5819074         753.0          -26.0         0          0
5819075         430.0          -16.0         0          0
5819076         432.0           -8.0         0          0
5819077         330.0          -10.0         0          0
5819078         442.0            2.0         0          0

         CANCELLATION_REASON  AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  \
0                        NaN               NaN             NaN            NaN
1                        NaN               NaN             NaN            NaN
2                        NaN               NaN             NaN            NaN
3                        NaN               NaN             NaN            NaN
4                        NaN               NaN             NaN            NaN
...                      ...               ...             ...            ...
5819074                  NaN               NaN             NaN            NaN
5819075                  NaN               NaN             NaN            NaN
5819076                  NaN               NaN             NaN            NaN
5819077                  NaN               NaN             NaN            NaN
5819078                  NaN               NaN             NaN            NaN

         LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0                        NaN            NaN
1                        NaN            NaN
2                        NaN            NaN
3                        NaN            NaN
4                        NaN            NaN
...                      ...            ...
5819074                  NaN            NaN
5819075                  NaN            NaN
5819076                  NaN            NaN
5819077                  NaN            NaN
5819078                  NaN            NaN

[5819079 rows x 31 columns]

In [50]:
flights_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
flights_df.tail()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,753.0,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,430.0,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,432.0,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,330.0,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,442.0,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
flights_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5819079 entries, 0 to 5819078
Data columns (total 31 columns):
 #   Column               Dtype
---  ------               -----
 0   YEAR                 int64
 1   MONTH                int64
 2   DAY                  int64
 3   DAY_OF_WEEK          int64
 4   AIRLINE              object
 5   FLIGHT_NUMBER        int64
 6   TAIL_NUMBER          object
 7   ORIGIN_AIRPORT       object
 8   DESTINATION_AIRPORT  object
 9   SCHEDULED_DEPARTURE  int64
 10  DEPARTURE_TIME       float64
 11  DEPARTURE_DELAY      float64
 12  TAXI_OUT             float64
 13  WHEELS_OFF           float64
 14  SCHEDULED_TIME       float64
 15  ELAPSED_TIME         float64
 16  AIR_TIME             float64
 17  DISTANCE             int64
 18  WHEELS_ON            float64
 19  TAXI_IN              float64
 20  SCHEDULED_ARRIVAL    int64
 21  ARRIVAL_TIME         float64
 22  ARRIVAL_DELAY        float64
 23  DIVERTED             int64
 24  CANCELLED            int64
 25  CANCELLATION_REASON  object
 26  AIR_SYSTEM_DELAY     float64
 27  SECURITY_DELAY       float64
 28  AIRLINE_DELAY        float64
 29  LATE_AIRCRAFT_DELAY  float64
 30  WEATHER_DELAY        float64
dtypes: float64(16), int64(10), object(5)
memory usage: 1.3+ GB

In [62]:
flights_df_2 = flights_df.describe()
flights_df_2

,YEAR,MONTH,DAY,DAY_OF_WEEK,FLIGHT_NUMBER,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,TAXI_OUT,WHEELS_OFF,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
count,5819079.0,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.819079e+06,5.732926e+06,5.732926e+06,5.730032e+06,5.730032e+06,...,5.819079e+06,5.726566e+06,5.714008e+06,5.819079e+06,5.819079e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06,1.063439e+06
mean,2015.0,6.524085e+00,1.570459e+01,3.926941e+00,2.173093e+03,1.329602e+03,1.335204e+03,9.370158e+00,1.607166e+01,1.357171e+03,...,1.493808e+03,1.476491e+03,4.407057e+00,2.609863e-03,1.544643e-02,1.348057e+01,7.615387e-02,1.896955e+01,2.347284e+01,2.915290e+00
std,0.0,3.405137e+00,8.783425e+00,1.988845e+00,1.757064e+03,4.837518e+02,4.964233e+02,3.708094e+01,8.895574e+00,4.980094e+02,...,5.071647e+02,5.263197e+02,3.927130e+01,5.102012e-02,1.233201e-01,2.800368e+01,2.143460e+00,4.816164e+01,4.319702e+01,2.043334e+01
min,2015.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-8.200000e+01,1.000000e+00,1.000000e+00,...,1.000000e+00,1.000000e+00,-8.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2015.0,4.000000e+00,8.000000e+00,2.000000e+00,7.300000e+02,9.170000e+02,9.210000e+02,-5.000000e+00,1.100000e+01,9.350000e+02,...,1.110000e+03,1.059000e+03,-1.300000e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2015.0,7.000000e+00,1.600000e+01,4.000000e+00,1.690000e+03,1.325000e+03,1.330000e+03,-2.000000e+00,1.400000e+01,1.343000e+03,...,1.520000e+03,1.512000e+03,-5.000000e+00,0.000000e+00,0.000000e+00,2.000000e+00,0.000000e+00,2.000000e+00,3.000000e+00,0.000000e+00
75%,2015.0,9.000000e+00,2.300000e+01,6.000000e+00,3.230000e+03,1.730000e+03,1.740000e+03,7.000000e+00,1.900000e+01,1.754000e+03,...,1.918000e+03,1.917000e+03,8.000000e+00,0.000000e+00,0.000000e+00,1.800000e+01,0.000000e+00,1.900000e+01,2.900000e+01,0.000000e+00
max,2015.0,1.200000e+01,3.100000e+01,7.000000e+00,9.855000e+03,2.359000e+03,2.400000e+03,1.988000e+03,2.250000e+02,2.400000e+03,...,2.400000e+03,2.400000e+03,1.971000e+03,1.000000e+00,1.000000e+00,1.134000e+03,5.730000e+02,1.971000e+03,1.331000e+03,1.211000e+03

In [65]:
flights_df_3 = flights_df.dropna(axis = 1)
flights_df_3

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DISTANCE,SCHEDULED_ARRIVAL,DIVERTED,CANCELLED
0,2015,1,1,4,AS,98,ANC,SEA,5,1448,430,0,0
1,2015,1,1,4,AA,2336,LAX,PBI,10,2330,750,0,0
2,2015,1,1,4,US,840,SFO,CLT,20,2296,806,0,0
3,2015,1,1,4,AA,258,LAX,MIA,20,2342,805,0,0
4,2015,1,1,4,AS,135,SEA,ANC,25,1448,320,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,LAX,BOS,2359,2611,819,0,0
5819075,2015,12,31,4,B6,745,JFK,PSE,2359,1617,446,0,0
5819076,2015,12,31,4,B6,1503,JFK,SJU,2359,1598,440,0,0
5819077,2015,12,31,4,B6,333,MCO,SJU,2359,1189,340,0,0
5819078,2015,12,31,4,B6,839,JFK,BQN,2359,1576,440,0,0

In [66]:
flights_df.drop(["MONTH", "FLIGHT_NUMBER", "DIVERTED"], axis = 1)

,YEAR,DAY,DAY_OF_WEEK,AIRLINE,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,DEPARTURE_TIME,DEPARTURE_DELAY,...,SCHEDULED_ARRIVAL,ARRIVAL_TIME,ARRIVAL_DELAY,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,4,AS,N407AS,ANC,SEA,5,2354.0,-11.0,...,430,408.0,-22.0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,4,AA,N3KUAA,LAX,PBI,10,2.0,-8.0,...,750,741.0,-9.0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,4,US,N171US,SFO,CLT,20,18.0,-2.0,...,806,811.0,5.0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,4,AA,N3HYAA,LAX,MIA,20,15.0,-5.0,...,805,756.0,-9.0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,4,AS,N527AS,SEA,ANC,25,24.0,-1.0,...,320,259.0,-21.0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,31,4,B6,N657JB,LAX,BOS,2359,2355.0,-4.0,...,819,753.0,-26.0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819075,2015,31,4,B6,N828JB,JFK,PSE,2359,2355.0,-4.0,...,446,430.0,-16.0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819076,2015,31,4,B6,N913JB,JFK,SJU,2359,2350.0,-9.0,...,440,432.0,-8.0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819077,2015,31,4,B6,N527JB,MCO,SJU,2359,2353.0,-6.0,...,340,330.0,-10.0,0,NaN,NaN,NaN,NaN,NaN,NaN
5819078,2015,31,4,B6,N534JB,JFK,BQN,2359,14.0,15.0,...,440,442.0,2.0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
flights_df.drop_duplicates(subset = ['YEAR', 'MONTH', 'DAY', 'DAY_OF_WEEK'])

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
13950,2015,1,2,5,AA,2400,N5CDAA,LAX,DFW,5,...,453.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
30691,2015,1,3,6,AA,2400,N5DKAA,LAX,DFW,5,...,459.0,4.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
46125,2015,1,4,7,AA,2400,N630AA,LAX,DFW,5,...,453.0,-2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
62477,2015,1,5,1,UA,203,N415UA,LAS,IAH,5,...,544.0,46.0,0,0,NaN,0.0,0.0,0.0,42.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5740666,2015,12,27,7,UA,460,N16703,DEN,CMH,3,...,447.0,-12.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5757175,2015,12,28,1,EV,4682,N15910,ORD,BHM,1,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
5773487,2015,12,29,2,AA,1230,N3JNAA,SEA,DFW,5,...,NaN,NaN,0,1,B,NaN,NaN,NaN,NaN,NaN
5789686,2015,12,30,3,AA,1230,N3CVAA,SEA,DFW,5,...,555.0,0.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
5805946,2015,12,31,4,AA,1230,N3HSAA,SEA,DFW,5,...,827.0,152.0,0,0,NaN,10.0,0.0,35.0,107.0,0.0

In [68]:
flights_df.shape

(5819079, 31)

In [72]:
CANCELLED = flights_df[flights_df.CANCELLED == 1]['CANCELLED'].count()
CANCELLED

89884

In [121]:
flights_max = flights_df[flights_df.CANCELLED == 1].groupby(['ORIGIN_AIRPORT', 'CANCELLED'])['CANCELLED'].count()
flights_max

ORIGIN_AIRPORT  CANCELLED
10136           1              7
10140           1              6
10141           1              1
10155           1              5
10157           1              3
                            ...
VPS             1             99
WRG             1             11
XNA             1            296
YAK             1              5
YUM             1             23
Name: CANCELLED, Length: 609, dtype: int64

In [122]:
flights_max.sort_values()

ORIGIN_AIRPORT  CANCELLED
CNY             1               1
12523           1               1
13290           1               1
14783           1               1
13433           1               1
                             ...
BOS             1            2654
EWR             1            3110
LGA             1            4531
DFW             1            6254
ORD             1            8548
Name: CANCELLED, Length: 609, dtype: int64

In [141]:
Flight_AS = flights_df[flights_df.AIRLINE == 'AS']['AIRLINE'].count()
Flight_AS

172521

In [115]:
CANCELLED_AS = flights_df[flights_df.CANCELLED == 1][flights_df.AIRLINE == 'AS']['CANCELLED'].count()
CANCELLED_AS

<ipython-input-115-1411c7b8add3>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  CANCELLED_AS = flights_df[flights_df.CANCELLED == 1][flights_df.AIRLINE == 'AS']['CANCELLED'].count()

669

In [117]:
DIVERTED_AS = flights_df[flights_df.DIVERTED == 1][flights_df.AIRLINE == 'AS']['DIVERTED'].count()
DIVERTED_AS

<ipython-input-117-b1076087f529>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  DIVERTED_AS = flights_df[flights_df.DIVERTED == 1][flights_df.AIRLINE == 'AS']['DIVERTED'].count()

413

In [128]:
Flight_AA = flights_df[flights_df.AIRLINE == 'AA']['AIRLINE'].count()
Flight_AA

725984

In [129]:
CANCELLED_AA = flights_df[flights_df.CANCELLED == 1][flights_df.AIRLINE == 'AA']['CANCELLED'].count()
CANCELLED_AA

<ipython-input-129-d8d02a6241a4>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  CANCELLED_AA = flights_df[flights_df.CANCELLED == 1][flights_df.AIRLINE == 'AA']['CANCELLED'].count()

10919

In [130]:
DIVERTED_AA = flights_df[flights_df.DIVERTED == 1][flights_df.AIRLINE == 'AA']['DIVERTED'].count()
DIVERTED_AA

<ipython-input-130-4b0c72b3fec7>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  DIVERTED_AA = flights_df[flights_df.DIVERTED == 1][flights_df.AIRLINE == 'AA']['DIVERTED'].count()

2130

In [132]:
Flight_US = flights_df[flights_df.AIRLINE == 'US']['AIRLINE'].count()
Flight_US

198715

In [133]:
CANCELLED_US = flights_df[flights_df.CANCELLED == 1][flights_df.AIRLINE == 'US']['CANCELLED'].count()
CANCELLED_US

<ipython-input-133-732e6b30a4a7>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  CANCELLED_US = flights_df[flights_df.CANCELLED == 1][flights_df.AIRLINE == 'US']['CANCELLED'].count()

4067

In [134]:
DIVERTED_US = flights_df[flights_df.DIVERTED == 1][flights_df.AIRLINE == 'US']['DIVERTED'].count()
DIVERTED_US

<ipython-input-134-a0d93131703d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  DIVERTED_US = flights_df[flights_df.DIVERTED == 1][flights_df.AIRLINE == 'US']['DIVERTED'].count()

425

In [136]:
flights_df['AIRSPEED'] = flights_df['DISTANCE'] / flights_df['AIR_TIME']
flights_df

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY,AIRSPEED
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8.568047
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8.859316
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8.631579
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,9.077519
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,7.276382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5819074,2015,12,31,4,B6,688,N657JB,LAX,BOS,2359,...,-26.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,9.599265
5819075,2015,12,31,4,B6,745,N828JB,JFK,PSE,2359,...,-16.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8.292308
5819076,2015,12,31,4,B6,1503,N913JB,JFK,SJU,2359,...,-8.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8.111675
5819077,2015,12,31,4,B6,333,N527JB,MCO,SJU,2359,...,-10.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8.256944
5819078,2015,12,31,4,B6,839,N534JB,JFK,BQN,2359,...,2.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,8.338624

In [144]:
Full_AirTime_AS = flights_df[flights_df.AIRLINE == 'AS']['AIR_TIME'].sum()
Full_AirTime_AS

27060752.0

In [145]:
Full_Distance_AS = flights_df[flights_df.AIRLINE == 'AS']['DISTANCE'].sum()
Full_Distance_AS

206579765

In [147]:
Med_AirSpeed_AS = Full_Distance_AS / Full_AirTime_AS
Med_AirSpeed_AS

7.63392550953499

In [148]:
Full_AirTime_AA = flights_df[flights_df.AIRLINE == 'AA']['AIR_TIME'].sum()
Full_AirTime_AA

99672739.0

In [149]:
Full_Distance_AA = flights_df[flights_df.AIRLINE == 'AA']['DISTANCE'].sum()
Full_Distance_AA

755995614

In [150]:
Med_AirSpeed_AA = Full_Distance_AA / Full_AirTime_AA
Med_AirSpeed_AA

7.584778160857002

In [151]:
Full_AirTime_US = flights_df[flights_df.AIRLINE == 'US']['AIR_TIME'].sum()
Full_AirTime_US

24428249.0

In [152]:
Full_Distance_US = flights_df[flights_df.AIRLINE == 'US']['DISTANCE'].sum()
Full_Distance_US

181129490

In [153]:
Med_AirSpeed_US = Full_Distance_US / Full_AirTime_US
Med_AirSpeed_US

7.414755351478528